---
layout: default
title: Presentaciones y otros recursos sobre el BarCamp RD
---

<div id="home">

 <img src="/barcamp2015.png" class="logobarcamp" alt="BarCamp RD"/>
  
 <p>Este espacio fue habilitado con el objetivo de agrugar todas las presentaciones, ejemplos, videos y otros recursos utilizados por los desconferencitas en nuestro evento anual `Barcamp RD`</p>
  
 <h3>Barcamp RD 2015</h3>
  <p> En  nuestra tercera edición del Barcamp RD hicimos un gran esfuerzo por presentar temas y desconferencias que desataran conversaciones  e inspiraran a todos los participantes a seguir investigando sobre los temas, de tal forma que puedan incorporar los conocimientos obtenidos en sus jornadas laborales.
  </p>

<h2><i class="fa fa-bookmark"></i>PRESENTACIONES</h2>
<ul>
<li>Integración de proyectos embebidos utilizando Arduino, Raspberry PI y Java  por <strong>Carlos camacho</strong> y <strong>Javier Marte</strong> <a href="http://www.slideshare.net/vacax/barcamp-2015-integracin-de-proyectos-embebidos-utilizando-arduino-raspberry-pi-y-java" target="_blank">[SlideShare]</a>
</li>

<li>Java8 : Más allá de las Expresiones Lambdas por <strong>Eudris Cabrera</strong> <a href="http://www.slideshare.net/eudris/java8-ms-all-de-las-expresiones-lambdas" target="_blank">[SlideShare]</a>
</li>

<li>Django 101: Backend ágil con Django web Framework por <strong>Emilio Ferreyra</strong> <a href="http://slides.com/emilioferreyra/django-101/#/" target="_blank">[Slides]</a>
</li>

<li>Debugging para el no iniciado: De Frustrado a competente por <strong>Leonardo Jiménez</strong> </li>

<li>MongoDB con Estereoides por <strong>Luis Contreras</strong></li>

<li>Java 8 - Programación Concurrente por <strong>Clivens Petit</strong></li>

<li>A la garata con puños en Algoritmia y Programación por <strong>Roberto Abreu</strong></li>

<li>OpenCV en C# por <strong>David de la Hoz</strong></li>

<li>Cómo lograr tener 18 de brazos y al mismo tiempo ser un buen programador
 por <strong>Andres Pineda</strong></li>

<li>Big Data usando Postgres por <strong>Edwin Quijada</strong><a href="slides/2015/PostgreSQL-y-BigData.pptx" target="_blank">[Descargar Aquí]</a></li>

</ul>
 <p>Puedes obtener la información completa sobre el evento en nuestro sitio web {% if site.data.theme.site_url %}
   <a href="{{site.data.theme.site_url}}" target="_blank">{{site.data.theme.site_url}}</a>
    {% endif %}.</p>
  <h2><i class="fa fa-bookmark"></i>ARCHIVOS</h2>   

   
  <ul id="blog-posts" class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

Como siempre, envíe cualquier comentario acerca de las desconferencias,lugar o personal, o quejas y elogios en general a nuestro correo {% if site.data.theme.email %}
	  <a href="mailto:{{ site.data.theme.email}}">{{ site.data.theme.email}}</a>
    {% endif %}

 
</div>
