---
layout: default
title: Presentaciones y otros recursos sobre el BarCamp RD
---

<div id="home">

 <img src="/barcamp2015.png" class="logobarcamp" alt="BarCamp RD"/>
  
 <p>Este espacio fue habilitado con el objetivo de agrugar todas las presentaciones, ejemplos, videos y otros recursos utilizados por los desconferencitas en nuestro evento anual `Barcamp RD`</p>
  
 <h3>Barcamp RD 2017</h3>
  <p> En  nuestra cuarta edición del Barcamp RD hicimos un gran esfuerzo por presentar temas y desconferencias que desataran conversaciones  e inspiraran a todos los participantes a seguir investigando sobre los temas, de tal forma que puedan incorporar los conocimientos obtenidos en sus jornadas laborales.
  </p>

<h2><i class="fa fa-bookmark"></i>PRESENTACIONES</h2>
<ul>
<li>"Diseño de Ambientes virtuales clínicamente relevantes para el tratamiento del trastorno de pánico con agorafobia en República Dominicana" por <strong>Zoilo García</strong>
<li>APP's que venden: Marketing digital para el desarrollo de aplicaciones Por <strong>Alice Pérez</strong>
<li>Que es ASP.NET Core 2.0, necesidad y que trae de nuevo? Puedo correrlo en Linux? Por <strong>Yhorby Matías</strong>
<li>The Remote Worker Chronicles por <strong>Kelvin de Moya</strong>
<li>Drop out of college, what? Por <strong>Roberto Abreu</strong>
<li>Cuando Sí, Cuando No | Xamarin.Forms <strong>Yhorby Matías</strong>
<li>El corpus PUCMM: Una introducción a la lingüística de Corpus por <strong>Lisibonny Beato</strong>
<li>Talk to your app - The bot revolution por <strong>Daian Gan</strong>
<li>Metaprogramación en Python <strong>Jorge Luis Marizan</strong>
<li>Nagios a 1,000 MPM (1,000 Monitoreo por Minuto) por <strong>Luis Contreras</strong>
<li>Augmented Reality using Xamarin por <strong>Rendy del Rosario</strong>
<li>Simplificando la domótica con el IoT, utilizando tecnología Node Js y Raspberry Pi por <strong>Luis Almonte</strong>
<li>Primeros pasos con Java 9 por <strong>Eudris Cabrera</strong>
<li>Concurrencia en Java : De iniciado a competente por <strong>Pedro Gonzalez</strong>
<li>Decodificando el Aire con Software Defined Radio (SDR) por <strong>Carlos Camacho</strong>
<li>Funcional Programming Intro with Javascript por <strong>José Saint-Hilaire</strong>
<li>El peor enemigo de la continuidad de TI: Tú mismo por <strong>Arismonty Beato</strong>
<li>Beyond the Code: Balancing Job, Personal Life & Career to Achieve Success por <strong>Jennifer Cox</strong> y <strong>John Tanner</strong>
<li>Scrum: Incrementando el éxito en proyectos de software por <strong>Kenia Adames</strong>
<li>Implementando "Fast and Furious God's Eye" usando la plataforma de Fast Data y la nube de Oracle por <strong>Thomas Maragno</strong>
<li>Gobierno Electrónico: retos y oportunidades por <strong>Melvyn Pérez</strong>
<li>BPM (Business process management) Desarrollando software para negocios cambiantes por <strong>Julissa Mateo</strong>
<li>Asterisk, CTI and Call Center Technologies por <strong>Raimer García</strong>, <strong>Wally Trejo</strong> y <strong>Oliver Peña</strong></li>
</ul>

 <p>Puedes obtener la información completa sobre el evento en nuestro sitio web {% if site.data.theme.site_url %}
   <a href="{{site.data.theme.site_url}}" target="_blank">{{site.data.theme.site_url}}</a>
    {% endif %}.</p>
  <h2><i class="fa fa-bookmark"></i>ARCHIVOS</h2>   

   
  <ul id="blog-posts" class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

Como siempre, envíe cualquier comentario acerca de las desconferencias,lugar o personal, o quejas y elogios en general a nuestro correo {% if site.data.theme.email %}
	  <a href="mailto:{{ site.data.theme.email}}">{{ site.data.theme.email}}</a>
    {% endif %}

 
</div>
